//CUSTOM CLASSES
.root {
    -fx-background-color: #2a2a2a;
    -fx-focus-color: transparent;
}

.text {
    -fx-fill: lightgrey;
}

//DEFAULT CLASSES
.button {
    -fx-background-color: #4a4a4a;
    -fx-text-fill: lightgrey;
}

.button:pressed {
    -fx-background-color: #353535;
}

.label {
    -fx-text-fill: lightgrey;
}

.table-view {
    -fx-border-color: grey;
    -fx-background-color: transparent;
    -fx-base: transparent;
}

.table-row-cell {
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: #353535;
}

.table-view .column-header-background {
    -fx-background-color: #4a4a4a;
    -fx-text-fill: lightgrey;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-background-color: transparent;
    -fx-border-color: transparent grey transparent transparent;
}

.table-column {
    -fx-alignment: CENTER;
}


.table-cell {
    -fx-background-color: #353535;
    -fx-text-fill: lightgrey;
    -fx-border-color: transparent grey transparent transparent;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: transparent;
    -fx-text-fill: lightgrey;
    -fx-border-color: grey grey grey grey;
}

//TEXT FIELD
.text-field {
    -fx-background-color: #4a4a4a;
    -fx-text-fill: lightgrey;
}

//DATE PICKER
.date-picker {
    -fx-background-color: #4a4a4a;
    -fx-base: #4a4a4a;
}

.date-picker-popup > * > .week-number-header-cell, .date-picker-popup > * > .day-name-cell {
    -fx-background-color: #4a4a4a;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

//CHECK BOX
.check-box {
}

//CHOICE BOX
.choice-box {
    -fx-background-color: #4a4a4a;
}

//COMBO BOX
.combo-box {
    -fx-background-color: #4a4a4a;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: #4a4a4a;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: #353535;
}

.menu-item:focused {
    -fx-background-color: #353535;
}

.context-menu {
    -fx-background-color: #4a4a4a;
}

//TAB PANES
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #353535;
    -fx-border-color: transparent transparent grey transparent;
}

.tab-pane .tab {
    -fx-background-color: #353535;
    -fx-border-radius: 4 4 0 0;
    -fx-border-color: grey grey transparent grey;
}

.tab-pane .tab:selected {
    -fx-background-color: #4a4a4a;
    -fx-border-radius: 4 4 0 0;
    -fx-border-color: grey grey transparent grey;
}

//CHARTS
.axis  {
    -fx-tick-label-fill: lightgrey;
}

.bar-chart {
    -fx-background-color: transparent;
}


//ALERT HELPER
.dialog-pane {
    -fx-border-color: grey;
    -fx-focus-color: transparent;
}

.dialog-pane > .header-panel {
    -fx-background-color: #2a2a2a;
    -fx-border-color: transparent transparent grey transparent;
}

