<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/replay-%d{yyyy-MM-dd}.log</fileNamePattern>

            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-8level %logger{100} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Example: <logger name="at.ac.tuwien.sepm.assignment.group.replay.service.impl" level="INFO" /> -->

    <logger name="at.ac.tuwien.sepm.assignment.group.replay.service.impl.parser" level="error" />
    <logger name="com.jayway.jsonpath" level="error" />
    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>